@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
.font-header {
  font-family: var(--font-header);
}

.card-bg {
  @apply relative bg-gradient-to-r from-slate-800 text-white rounded p-4;
}

.font-small-caps {
  font-family: var(--font-small-caps);
}

.font-greek {
  @apply tracking-wider;
  font-family: var(--font-greek);
}

button.btn-default {
  @apply h-10 px-5 m-2 text-emerald-100 transition-colors duration-150 bg-emerald-700 rounded-lg hover:bg-emerald-800;
}
